In [1]:
pip install pymongo
pip install yfinance

Requirement already satisfied: pymongo in c:\users\samrith\anaconda3\lib\site-packages (3.12.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (c:\users\samrith\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\samrith\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\samrith\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\samrith\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\samrith\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\samrith\anaconda3\lib\site-packages)

In [13]:
from pandas_datareader import data as pdr
from datetime import date
import yfinance as yf
yf.pdr_override() 
import pandas as pd

In [18]:
df = pd.DataFrame()
dict3 = dict()
lst=['GOOGL','MSFT','AMZN','AAPL','META','PYPL','MA','WMT','TSLA','JNJ']
for i in lst:
    GetInformation = yf.Ticker(i)
    keys = ['underlyingSymbol', 'industry', 'currentPrice', 'trailingPE']
    dict2 = {x:GetInformation.info[x] for x in keys} 
    dict3.update(dict2)
    df=df.append(dict2,ignore_index=True)

In [19]:
df

  underlyingSymbol                        industry  currentPrice  trailingPE
0            GOOGL  Internet Content & Information        119.48   26.610247
1             MSFT         Software—Infrastructure        337.22   36.495670
2             AMZN                 Internet Retail        129.78  301.813930
3             AAPL            Consumer Electronics        190.68   32.373512
4             META  Internet Content & Information        290.53   35.344280
5             PYPL                 Credit Services         66.79   28.063025
6               MA                 Credit Services        388.68   38.751743
7              WMT                 Discount Stores        153.49   37.074883
8             TSLA              Auto Manufacturers        274.43   75.809395
9              JNJ      Drug Manufacturers—General        159.25   33.315900

In [164]:
ticker=['GOOGL','MSFT','AMZN','AAPL','PYPL','MA','WMT','TSLA','JNJ','META']
today = date.today()
data = pdr.get_data_yahoo(ticker, period="6mo")
data_close = data["Close"]

[*********************100%***********************]  10 of 10 completed

In [24]:

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://krajkumar_bits:root@cluster0.s14jweo.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [47]:
client =  MongoClient("mongodb+srv://krajkumar_bits:root@cluster0.s14jweo.mongodb.net/?retryWrites=true&w=majority")
db = client ["stock_data"]
collection = db["stock_data_sp500"]
df.reset_index(inplace=True)
data_dict = df.to_dict("records")
collection.insert_many(data_dict)

In [46]:
client =  MongoClient("mongodb+srv://krajkumar_bits:root@cluster0.s14jweo.mongodb.net/?retryWrites=true&w=majority")
db = client ["stock_data"]
collection = db["stock_data_sp500_detail"]
data_close.reset_index(inplace=True)
data_dict = data_close.to_dict("records")
collection.insert_many(data_dict)

In [209]:
final_data = []

In [210]:
for i in lst:
    df_temp = pd.DataFrame(data_close[i]).reset_index()
    df_temp.columns = ['Date', 'Value']
    df_temp["Company"]=i
    final_data.append(df_temp)

In [211]:
final_data = pd.concat(final_data)

In [212]:
final_data

          Date       Value Company
0   2023-01-09   88.019997   GOOGL
1   2023-01-10   88.419998   GOOGL
2   2023-01-11   91.519997   GOOGL
3   2023-01-12   91.129997   GOOGL
4   2023-01-13   92.120003   GOOGL
..         ...         ...     ...
119 2023-06-30  165.520004     JNJ
120 2023-07-03  163.350006     JNJ
121 2023-07-05  162.809998     JNJ
122 2023-07-06  161.600006     JNJ
123 2023-07-07  159.250000     JNJ

[1240 rows x 3 columns]

In [215]:
client =  MongoClient("mongodb+srv://krajkumar_bits:root@cluster0.s14jweo.mongodb.net/?retryWrites=true&w=majority")
db = client ["stock_data"]
collection = db["stock_data_sp500_final"]
final_data.reset_index(inplace=True)
data_dict = final_data.to_dict("records")
collection.insert_many(data_dict)

In [219]:
final_data

      level_0  index       Date       Value Company          dt
0           0      0 2023-01-09   88.019997   GOOGL  2023-01-09
1           1      1 2023-01-10   88.419998   GOOGL  2023-01-10
2           2      2 2023-01-11   91.519997   GOOGL  2023-01-11
3           3      3 2023-01-12   91.129997   GOOGL  2023-01-12
4           4      4 2023-01-13   92.120003   GOOGL  2023-01-13
...       ...    ...        ...         ...     ...         ...
1235     1235    119 2023-06-30  165.520004     JNJ  2023-06-30
1236     1236    120 2023-07-03  163.350006     JNJ  2023-07-03
1237     1237    121 2023-07-05  162.809998     JNJ  2023-07-05
1238     1238    122 2023-07-06  161.600006     JNJ  2023-07-06
1239     1239    123 2023-07-07  159.250000     JNJ  2023-07-07

[1240 rows x 6 columns]

In [218]:
final_data['dt'] = pd.to_datetime(final_data["Date"]).dt.date
print(final_data)

      level_0  index       Date       Value Company          dt
0           0      0 2023-01-09   88.019997   GOOGL  2023-01-09
1           1      1 2023-01-10   88.419998   GOOGL  2023-01-10
2           2      2 2023-01-11   91.519997   GOOGL  2023-01-11
3           3      3 2023-01-12   91.129997   GOOGL  2023-01-12
4           4      4 2023-01-13   92.120003   GOOGL  2023-01-13
...       ...    ...        ...         ...     ...         ...
1235     1235    119 2023-06-30  165.520004     JNJ  2023-06-30
1236     1236    120 2023-07-03  163.350006     JNJ  2023-07-03
1237     1237    121 2023-07-05  162.809998     JNJ  2023-07-05
1238     1238    122 2023-07-06  161.600006     JNJ  2023-07-06
1239     1239    123 2023-07-07  159.250000     JNJ  2023-07-07

[1240 rows x 6 columns]